@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;700&display=swap');

@font-face {
   font-family: 'alarm clock Regular';
   font-style: normal;
   font-weight: normal;
   src: local('alarm clock Regular'), url('../font/alarm\ clock.woff') format('woff');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Roboto', sans-serif;
   user-select: none;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
   display: none; /* Chrome, Safari and Opera */
}

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

a {
   text-decoration: none;
   color: #BD2929;
   font-weight: 700;
}

a:hover {
   color: #FF3A3A;
}

.container {
   max-width: 80vw;
   height: 100%;
   margin: 0 auto;
}

.row {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col {
   display: flex;
   align-items: center;
   gap: 10px;
}


/* HEADER */

header {
   height: 100px;
}

.col-logo {
   text-transform: capitalize;
   font-size: 22px;
}

.col-logo .img-wrapper {
   height: 80px;
   aspect-ratio: 1;
   margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.col-logo .img-wrapper img {
   max-width: 100%;
   max-height: 100%;
   transform: rotateY(180deg);
}

.col-logo .main-title {
   font-family: 'Teko', sans-serif;
   transition: letter-spacing ease-in-out 0.3s;
   color: #2D3D58;
   text-shadow: 2px 2px 3px #7d899e;
}

.col-logo .main-title:hover {
   letter-spacing: 5px;
}

.col-controls {
   font-size: 16px;
}

.col-controls label {
   font-weight: 600;
}

.col-controls select {
   padding: 0 5px;
   height: 25px;
   cursor: pointer;
   font-size: 14px;
}

.col-controls button {
   padding: 8px 15px;
   border-radius: 30px;
   background-color: #DDD;
   border: none;
   cursor: pointer;
   font-size: 16px;
   font-weight: 600;
   transition: all ease-in-out 0.15s;
}

.col-controls button:hover {
   background-color: #2D3D58;
   color: white;
}


/* MAIN */

main {
   flex-grow: 1;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   padding: 30px;
   background-color: #DDD;
}

main.overlay::after {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: black;
   z-index: 1;
   opacity: 0;
   animation-duration: 2s;
   animation-name: main-overlay;
   animation-fill-mode: forwards;
   animation-timing-function: ease-in-out;
}

@keyframes main-overlay {
   from {
      opacity: 0;
   }
 
   to {
      opacity: 0.9;
   }
}

.timer {
   font-family: 'alarm clock Regular';
   text-align: center;
   font-size: 60px;
   opacity: 0;
   transition: all ease-in 0.3s;
}

.timer.visible {
   opacity: 1;
}

.grid-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background ease-in 0.3s;
}

.grid {
   flex-grow: 1;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
}

.grid-element {
   background-color: grey;
   border-top: 4px solid rgb(219, 219, 219);
   border-left: 4px solid rgb(219, 219, 219);
   border-bottom: 4px solid rgb(56, 56, 56);
   border-right: 4px solid rgb(56, 56, 56);
   width: 30px;
   aspect-ratio: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   cursor: pointer;
   transition: all ease-in 0.1s;
   font-size: 15px;
}

.grid-element.selected {
   border: 1px solid rgb(93, 93, 93);
}

.grid-element.bomb {
   position: relative;
   border: 1px solid rgb(93, 93, 93);
}

.grid-element.bomb.exploded {
   background-color: red;
}

.grid-element.bomb::after {
   content: "\f1e2";
   font-family: "Font Awesome 6 Free";
   font-weight: 900;
   font-size: 18px;
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid-element.flag {
   position: relative;
}

.grid-element.flag::after {
   content: "\f024";
   font-family: "Font Awesome 6 Free";
   font-weight: 900;
   font-size: 14px;
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: red;
}

.grid-element.question {
   position: relative;
}

.grid-element.question::after {
   content: "\3f";
   font-family: "Font Awesome 6 Free";
   font-weight: 900;
   font-size: 14px;
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popup {
   padding: 30px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: gray;
   color: black;
   box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   z-index: 3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 30px;

   animation-duration: 0.8s;
   animation-name: popup;
   animation-fill-mode: forwards;
   animation-timing-function: ease-in-out;
}

@keyframes popup {
   from {
      opacity: 0;
   }
 
   to {
      opacity: 1;
      background-color: rgb(52, 52, 52);
   }
} 

.popup_title {
   margin-bottom: 50px;
   font-weight: 900;
   color: white;
   text-shadow: 3px 3px 5px black;
}

.popup_play-again {
   padding: 10px 20px;
   border-radius: 30px;
   text-transform: uppercase;
   cursor: pointer;
   font-size: 12px;
   font-weight: 800;
   border: none;
   transition: all ease-in-out 0.15s;
}

.popup_play-again:hover {
   background-color: #FF3A3A;
   color: white;
}


/* FOOTER */

footer {
   padding: 20px 0;
   background-color: white;
}

footer .credits {
   text-align: center;
   font-size: 15px;
   letter-spacing: 0.5px;
}